.card{
 display: block;
    border-radius: 10px;
    
    height: 220px;
    background: rgb(0,0,0);
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%); */
    color: white;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow:0 15px 60px rgba(0,0,0,0.5)
}
input,button{
  margin: auto;
  font-size: 1rem;
  height: 20px;
 background: none;
 color:white;
  border:1px solid white;
  border-radius:20px;
}
.weatherIcon{
  display:block;
   
    width: fit-content;
}
.posit{
  display:inline-flex;
}
.sun{
    background-image: url('https://wallpaperaccess.com/full/526070.jpg');
   background-size: cover;
   background-position: center;
}
.moon{
   background-image: url('https://fsb.zobj.net/crop.php?r=lqpPxAGdf54G34DRHYRahtIwRDbtlnOdE2u_Uawx5ceoynCJeQY8uTqjYHfK4nYqWePL_OfJPGd_EgciUcd5F87KULMMxYwOG0zMnCqZiPWAenBTcSy8Kx0ooOvJ5LZdAL-Nr17rD2uLcWGpMyCHoFWX4_bUqqmT8d56vrhhVJQPNOkWm4AUyLTLsUU');
   background-size: cover;
   background-position: center;
}
.final{
   display:inline-flex;
}
