
<div class="card"> 
<div class="input-group ">
  <input class="form-control" type="text" #userInput placeholder="enter city name...!">
  <div class="input-group-append">
    <button class="input-group-text  btn btn=outline-primary" (click)="getCity(userInput.value)">Search</button>
  </div>
  </div>
  <div class="posit">
  <div class="weatherIcon" style="fontSize:32px; margin:25px"> {{(weather.main.temp - 32)*5/9 | number: '1.0-0'  }}&#176;
</div>
<div class="col-sm-12">
  <span class="image col-6"><img style=" marginTop:5px; height:60px;" src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}.png"> </span>
  <span class="description" style="fontSize:10px;marginTop:0px;">
    {{weather.weather[0].description}} </span></div>
</div>
<div class="col-sm-12 text-center text-bold text-uppercase" style=""> <span>{{weather.name}}, {{weather.sys.country}}</span></div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="col-sm-12 text-center">



      <h4>current weather of your city</h4>
<h2>weather in {{weather.name}}, {{weather.sys.country}}</h2>


<h2>{{weather.weather[0].description}} </h2>
<div class="container">
<img src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}.png"></div>
    </div>
  </div>
</div>